// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #b14ad1;
$value-color: #fff;

$title-color: rgba(255, 255, 255, 0.7);
$moreinfo-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------

.widget-nyheter {
  background: $background-color;

  .news-item {
    display: inline-block;
    color: $value-color;
  }
}