// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #faf5dd;
$value-color: #384a39;

$title-color: rgba(255, 255, 255, 0.7);
$moreinfo-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------

.widget-nyheter {
  background-color: $background-color;
  padding: 10px;

  .news-item {
    margin: 20px 0;

    p {
      color: $value-color;
      font-size: 12pt;
    }
  }
}