// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #9c4274;
$value-color: #fff;

$title-color: rgba(255, 255, 255, 0.7);
$moreinfo-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------

.widget-lastfm {
  background-color: $background-color;
  display: table;
  height: inherit;

  .lastfm-bg {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;

    .lastfm-info {
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
    }
  }

  .artist, .name {
    color: $value-color;
  }
}